Can read csv:  #test($UtilMethods.isSet($excel.readTestExcel("test.csv")))
Can read xls:  #test($UtilMethods.isSet($excel.readTestExcel("test.xls")))
Can read xlsx: #test($UtilMethods.isSet($excel.readTestExcel("test.xlsx")))
